*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* Font */
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
  --fs-xs: 0.75rem;
  --fs-s: 0.875rem;
  --fs-m: 1rem;
  --fs-l: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-xxl: 2rem;
  --fs-xxxl: 2.5rem;
  --fs-xxxxl: 5rem;

  /* Margin */
  --margin-xxs: 0.25rem;
  --margin-xs: 0.5rem;
  --margin-s: 0.75rem;
  --margin-m: 1rem;
  --margin-l: 1.25rem;
  --margin-xl: 1.75rem;
  --margin-xxl: 2.5rem;
  --margin-xxxl: 5rem;

  /* Colours */
  --main-bg-very-dark-blue: hsl(233, 47%, 7%);
  --card-bg-dark-blue: hsl(244, 38%, 16%);
  --accent-violet: hsl(277, 64%, 61%);
  --main-heading-white: hsl(0, 0%, 100%);
  --main-p-transparent-white: hsla(0, 0%, 100%, 0.75);
  --stat-label-tranparent-white: hsla(0, 0%, 100%, 0.6);
}

body {
  background-color: var(--main-bg-very-dark-blue);
  display: flex;
  justify-content: center;
  margin-top: var(--margin-xxxl);
}

.card {
  background-color: var(--card-bg-dark-blue);
  display: flex;
  align-items: stretch;
  width: 1000px;
  border-radius: 10px;
}

.card__content {
  padding: 3.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}

.card__title {
  color: var(--main-heading-white);
  font-size: var(--fs-xxl);
  line-height: 1;
  margin-bottom: var(--margin-xl);
}

.accent {
  color: var(--accent-violet);
}

.card__description {
  color: var(--main-p-transparent-white);
  font-size: var(--fs-s);
  margin-bottom: 4rem;
  padding-right: 3.5rem;
}

.stats-container {
  display: flex;
  gap: var(--margin-xxl);
}

.stat__value {
  font-size: var(--fs-xl);
  font-weight: 700;
}

.stat__label {
  font-size: var(--fs-xs);
  color: var(--stat-label-tranparent-white);
  letter-spacing: 0.025rem;
  line-height: 1.5;
}

.card__image-overlay {
  background-image: linear-gradient(
      hsla(277, 64%, 61%, 0.4),
      hsla(277, 64%, 61%, 0.4)
    ),
    url(/images/image-header-desktop.jpg);
  width: 500px;
  height: 100%;
  border-radius: 0 10px 10px 0;
}

@media (max-width: 1000px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
  }

  .card__image-overlay {
    height: 325px;
    order: -1;
    border-radius: 10px 10px 0 0;
  }

  .card__title {
    text-align: center;
  }

  .card__description {
    text-align: center;
    padding: 0 1.8rem;
    line-height: 1.7;
    font-size: var(--fs-xs);
  }

  .stats-container {
    justify-content: space-between;
    padding: 0 1.8rem;
  }
}

@media (max-width: 515px) {
  .card {
    width: 350px;
  }

  .card__content {
    width: 100%;
    padding: 2rem;
  }

  .card__description {
    padding: 0 1rem;
    margin-bottom: var(--margin-xxl);
  }

  .card__image-overlay {
    width: 100%;
    height: 250px;
  }

  .stats-container {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .stat {
    text-align: center;
  }
}
